.o-content-wrapper{
    margin: 0 auto;
  @include mq( $from: mobile, $until: tablet){
    padding: 0 $inuit-global-spacing-unit-small;
  }
  @include mq($from: tablet, $until: desktop){
    padding: 0 $inuit-global-spacing-unit-large;
  }
  @include mq($from: desktop){
    padding: 0 $inuit-global-spacing-unit-huge;
  }
  &--light-purple{
    background-color: $color-light-purple;
  }
  &__item{
    width: 100%;
    max-width: $inuit-wrapper-width;
    margin: 0 auto;
    @include mq($from: tablet, $until: desktop){
      padding: 0 $inuit-global-spacing-unit-tiny;
    }
    @include mq($from: tablet, $until: desktop){
      padding: 0 $inuit-global-spacing-unit-small;
    }
  }
  &--max{
    width: 100%;
    max-width: $inuit-wrapper-width;
  }
}
