.c-header{
  //background-color: #6B1C3F;
  @include mq($until: tablet) {
  &__icon{
    width: 40px;
    height: 40px;
    background-color: brown;
  }
  &__icon:after{
    content: '☰';
    font-size: 32px;
    color: white;
  }
}
  &__nav{
    background-color: green;
    color: white;
  }
  &__item{
    //background-color: #6B1C3F;
    color: white;
  }
  &__back{
    background-color: purple;
  }
}

.red{
  background-color: #A32418;
  color: white;
}

.green{
  background-color: #197D6B;
  color: white;
}

.one{
  background-color: $color-purple;
}
