.wpcf7-form-control-wrap{
    & .c-contact__input {
    border: none;
    border-bottom: 2px solid #d0dce7;
    width: 100%;
    transition: .2s ease all;
    &.wpcf7-not-valid{
      border-color: $color-orange;
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid $color-purple;
    }
    }
    //for error label
    & .wpcf7-not-valid-tip{
      font-size: 14px;
      color: $color-orange;
    }
    .c-contact__tetarea{
      resize: none;
    }
}

.c-contact__label {
    font-size: 14px;
}
//Hidde for screen readers
.screen-reader-response{
  @include inuit-hidden-visually();
}
.wpcf7-response-output{
  margin-top: $inuit-global-spacing-unit-tiny;
}
