.c-event{
  max-width: rem(360px) !important;
  &__date{
    border-right: 2px solid lighten($color-orange,20%);
    line-height: 1.2;
  }
  &__date-day{
    @include inuit-font-size(30px);
  }
  &__hour{
    color: $color-black-light-46;
  }
  &__label{
    background-color: $color-orange;
    color:$color-white;
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
  }
}

.c-event-promo{
    border: 2px solid $color-purple;
    max-width: rem(340px);
    color: $color-purple;
    &__adress{
      border-bottom: 2px solid $color-purple;
      margin:rem(6px) 0;
      padding-bottom: rem(6px);
      @include inuit-font-size(24px);
    }
    &__date{
      @include inuit-font-size(18px);
      font-weight: bold;
    }
    &__hour{
      @include inuit-font-size(18px);
      font-weight: bold;
      margin-left: auto;
    }
}
.c-event-last{
  &__data{
    color: $color-black-light-46;
  }
  &__desc{
    @include inuit-font-size(32px);
  }
}
.c-event-type{
  font-family: 'roboto-slab',serif;
  color: $color-purple;
  background-color: $color-white;
  border: none;
  border-radius: 0;

}
